<br>
<div class="row">
  <div class="col-md-10">
    <strong>All User List</strong>
  </div>
  <div class="col-md-2"><button type="button" class="btn btn-dark float-right" (click)="addUserPopup()"
    data-bs-toggle="modal" data-bs-target="#addEditUserModal">Add
      New User</button></div>
</div>
<div *ngIf="showDelete" class="alert alert-danger alert-dismissible fade show" role="alert">
  User deleted successfully!
  <button type="button" class="btn-close" (click)="dismissDelete()" aria-label="Close"></button>
</div>
<div *ngIf="showSuccessUpdate" class="alert alert-info alert-dismissible fade show" role="alert">
  User updated successfully!
  <button type="button" class="btn-close" (click)="dismissUpdateAlert()" aria-label="Close"></button>
</div>
<div *ngIf="showSuccessAlert" class="alert alert-success alert-dismissible fade show" role="alert">
  User added successfully!
  <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
</div>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user_data of all_user_data; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user_data.name}}</td>
      <td>{{user_data.mobNumber}}</td>
      <td>{{user_data.email}}</td>
      <td>{{user_data.dob}}</td>
      <td>{{user_data.role}}</td>
      <td>
        <span class="sim-pointer btn btn-primary" (click)="editUserPopup(user_data.id)" data-bs-toggle="modal"
          data-bs-target="#addEditUserModal">Edit</span>
        &nbsp;&nbsp;&nbsp;
        <span class="sim-pointer btn btn-danger" (click)="deleteUser(user_data.id)">Delete</span>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal for add and edit user  -->
<div class="modal fade" id="addEditUserModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{popup_header}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <form [formGroup]="addEditUserForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" />
                <div *ngIf="formControls['name'].invalid && formControls['name'].touched" class="text-danger">
                  Name is required.
                </div>

              </div>
              <div class="form-group">
                <label>Mobile Number</label>
                <input type="tel" class="form-control" formControlName="mobNumber" />
                <div *ngIf="formControls['mobNumber'].invalid && formControls['mobNumber'].touched" class="text-danger">
                  The lentgh must be 10.
                </div>

              </div>

              <div class="form-group">
                <label>Enter Your DOB</label>
                <input type="date" class="form-control" formControlName="dob" />
                <div *ngIf="formControls['dob'].invalid && formControls['dob'].touched" class="text-danger">
                  DOB not correct.
                </div>

              </div>
              <div class="form-row">
                <div class="form-group">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                  <div *ngIf="formControls['email'].invalid && formControls['email'].touched" class="text-danger">
                    Email not valid.
                  </div>

                </div>
                <div class="form-group">
                  <label for="inputPassword4">Password</label>
                  <input type="password" class="form-control" placeholder="Password" formControlName="password">
                  <div *ngIf="formControls['password'].invalid && formControls['password'].touched" class="text-danger">
                    Password lentgh must be > 6.
                  </div>

                </div>
              </div>


              <div class="form-group">
                <span *ngIf="edit_user"><span>Uploaded image</span><br> {{upload_file_name}}</span>
                <input type="file" class="form-control-file" formControlName="uploadPhoto">

              </div>
              <div class="form-group">
                <label for="roleSelect">Choose the role</label>
                <select class="form-control" formControlName="role">
                  <option value="admin">admin</option>
                  <option value="seller">seller</option>
                  <option value="buyer">buyer</option>
                </select>
                <div *ngIf="formControls['role'].invalid && formControls['role'].touched" class="text-danger">
                 Select a role
                </div>
              </div>

              <div class="form-group mt-2">
                <button class="btn btn-success" data-bs-dismiss="modal" (click)="addUser()" *ngIf="add_user">Register</button>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()" *ngIf="edit_user">Update</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
