<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold">La présentation de notre projet Angular</h1>
      <p class="lead text-body-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, corrupti maxime! Possimus et, sint accusantium voluptatibus illo, omnis est rem nobis voluptatum excepturi quidem enim ratione magnam eius, aperiam quam..</p>
      <p>
        <a class="btn btn-primary my-2" routerLink="/seller/product">Product Section</a> &nbsp; &nbsp;
      </p>
    </div>
  </div>
</section>
