<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">User Profile</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="userProfileForm" (ngSubmit)="updateProfile()" novalidate>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="mobNumber">Mobile Number</label>
              <input type="tel" class="form-control" id="mobNumber" formControlName="mobNumber" placeholder="Enter your mobile number">
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" id="dob" formControlName="dob">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
            </div>
            <div class="form-group">
              <label for="addLine1">Address</label>
              <input type="text" class="form-control" id="addLine1" formControlName="addLine1" placeholder="Enter your address">
            </div>
            <div class="form-group">
              <label for="zipCode">Zip Code</label>
              <input type="text" class="form-control" id="zipCode" formControlName="zipCode" placeholder="Enter your zip code">
            </div>
            <div class="form-group">
              <label>Gender</label><br>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" formControlName="gender" value="Male">
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" formControlName="gender" value="Female">
                <label class="form-check-label" for="female">Female</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="other" formControlName="gender" value="Other">
                <label class="form-check-label" for="other">Other</label>
              </div>
            </div>
            <div class="form-group">
              <label for="uploadPhoto">Upload Your Profile Photo</label>
              <input type="file" class="form-control-file" id="uploadPhoto" formControlName="uploadPhoto">
            </div>
            <br>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
