<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Acheteur</a></li>
        <li class="breadcrumb-item"><a routerLink="/buyer-dashboard">Produit</a></li>
    </ol>
</nav>
<!-- <div class="row">
  <div class = "col-2">
  <div class="btn-group-vertical">
  <button type="button" class="btn btn-outline-primary" *ngFor="let c of
  categories" (click)='FilterbyCategory(c)'>{{c}}</button>
  </div>
  </div>
  <div class = "col">
  <div class="row">
  <ng-container *ngFor="let productVar of all_products; let i = index ">
  <div class = "col-4">
    <app-buyer-dashboad [product]="productVar" [prd_index]="i"></app-buyer-dashboad>
  </div>
  </ng-container>
  </div>
  </div>
  </div> -->
<div class="row">
    <div class="col-sm-4 product" *ngFor="let product of all_products;">
        <div class="card">
            <img src="{{product.uploadPhoto}}" class="card-img-top" alt="{{product.name}}">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p><span class="float-left"><strong>Prix</strong>: <del>{{product.mrp}}</del></span> <span class="float-right"><strong> Rabais</strong>:
                        {{product.dp}}</span></p>
                <br>
                <p class="card-text product-desc">{{product.productDesc}}</p>
                <a class="btn btn-primary float-left" (click)="addToCart()">Au panier</a> &nbsp;
                <a class="btn btn-warning float-right" (click)="buyProduct(product.id)">Acheter</a>
            </div>
        </div>
    </div>
</div>
